* {
    box-sizing: border-box;
  }
  
  :root {
    --darkPurple: #3a0c77;
    --purple: #b185eb;
    --white: #ffffffdc;
  }
  
  body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background: var(--white);
    padding: 30px 12px;
  }
  
  h1 {
    color: var(--darkPurple);
    font-size: 12px;
  }

  .high-scores:hover {
    cursor: pointer;
  }

  h2 {
    color: var(--darkPurple);
    font-size: 12px;
    text-align: right;
  }

  main {
    background: var(--white);
    padding: 30px 12px;
  }
  
  h3 {
    font-size: 20px;
    text-align: center;
  }

  h4 {
    font-size: 16px;
    text-align: center;
    padding: 50pt 250pt;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
  }

  #startBtn {
      outline: none;
      padding: 5px 20px;
      font-size: 18pt;
      border-radius: 12px;
      position: relative;
      background: var(--darkPurple);
      color: var(--white);
      align-items: center;
      margin-left: 45%;
  }
  
  #startBtn:hover {
    background: var(--purple);
    cursor: pointer;
  }

  #question {
    font-size: 18px;
    text-align: center;
    padding: 50pt 250pt;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  }

  #answers {
    display: grid;
    text-align: center;
  }

  #all-scores {
    margin-left: 10%;
  }

  p {
    background-color: lavender;
    width: 30%;
    margin: auto;
    text-align: left;
    margin-top: 1%;
  }

  button {
    outline: none;
    padding: 5px 20px;
    font-size: 14pt;
    border-radius: 12px;
    position: relative;
    background: var(--darkPurple);
    color: var(--white);
    align-items: center;
    display: inline-block;
    margin: 0% 40%;
    text-align: left;
    width: fit-content;
    white-space: nowrap;
  }

  button:hover {
    background: var(--purple);
    cursor: pointer;
  }

  #prevAnswer {
    text-decoration: overline;
    font-style: italic;
    color: gray;
    text-align: center;
    padding-top: 20px;
  }

  #initials-form {
    text-align: center;
    display: flex;
  }

  #submitBtn {
    margin-top: 20px;
    margin-left: 47%;
    align-items: center;
    position: relative;
    text-align: center;
  }

  h5 {
    font-size: 20px;
    text-align: center;
  }

  #go-back-buttons {
    display: flex;
    justify-content: center;
  }

 #restart {
    display: inline-block;
    width: fit-content;
    text-align: center;
    margin: 5% 2% 0% 70%;
    white-space: nowrap;
  }

 #clear-scores {
    text-align: center;
    width: fit-content;
    display: inline-block;
    margin: 5% 60% 0% 0%;
    white-space: nowrap;
  }

  footer {
    background: var(--white);
    padding: 30px 12px;
  }
    
  .hidden {
    display: none;
  }
  
  @media screen and (max-width: 980px) {
    form .form-group {
      flex: 1 100%;
    }
  
    form .form-group button {
      width: 100%;
    }
  
    .task-list-wrapper {
      flex-basis: 100%;
    }
  
  }
  